* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

/*****************************************/
/* HEADER */
/*****************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  background-color: #ebe8e8;
  padding: 0 4.8rem;
  z-index: 9999;
  width: 100%;
  position: relative;
}

/* sticky navigation */
.sticky .header {
  position: fixed;
  top: 0;
  /* bottom: 0; */
  height: 6rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(7, 6, 6, 0.889);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .header-name {
  color: #f6f2f2ed;
}

.sticky .section-resume {
  margin-top: 6rem;
}

.sticky .main-nav-link:link,
.sticky .main-nav-link:visited {
  color: #f6f2f2ed;
}

.sticky .main-nav-link:hover,
.sticky .main-nav-link:active {
  color: #888;
}

.sticky .main-nav-link.nav-cta:link,
.sticky .main-nav-link.nav-cta:visited {
  color: #333;
  background-color: #fff;
}

.sticky .main-nav-link.nav-cta:hover,
.sticky .main-nav-link.nav-cta:active {
  background-color: #666;
  color: #fff;
}

.sticky .icon-nav {
  color: #fff;
}

.header-name {
  font-family: "Dancing Script", cursive;
  font-size: 4.2rem;
  font-weight: 600;
  /* color: #f6f2f2ed; */
  color: #333;
}

.header-link:link,
.header-link:visited,
.header-link:hover,
.header-link:active {
  text-decoration: none;
}

/*****************************************/
/* NAVIGATION */
/*****************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  /* color: #f6f2f2d0; */
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: none;
  color: #888;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.8rem;
  border-radius: 9px;
  /* color: #333;
  background-color: #fff; */
  color: #fff;
  background-color: #333;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* background-color: #666;*/
  /* color: #666; */
  /* background-color: #fff; */
  background-color: #666;
  color: #fff;
}

/* MOBILE NAVIGATION */
.btn-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #000;
}

/*****************************************/
/* PHOTO NAME SECTION */
/*****************************************/

.section-resume {
  background-color: #e6e1e162;
  padding: 3.2rem 0 1.2rem 0;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem 1.8rem 3.2rem;
  margin: 0 auto;
}

.name-text {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #444;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.grid-col-1 {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 1.2rem;
  justify-items: center;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-photo {
  width: 50%;
  border-radius: 50%;
}

.resume-cta:link,
.resume-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.resume-cta:hover,
.resume-cta:active {
  text-decoration: none;
  background-color: #666;
}

/*****************************************/
/* PERSONAL INFORMATION SECTION */
/*****************************************/

.section-information {
  /* background-color: #e6e1e162; */
  padding: 3.2rem 0 1.2rem 0;
}

/* PERSONAL INFO GRID */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2.4rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

/* EDUCATION INFO GRID */
.education-info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2.4rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

/* SKILLS INFO GRID */
.skills-info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2.4rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

/* TRAINING INFO GRID */
.training-info-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2.4rem;
  /* justify-items: center; */
  align-items: center;
  margin-bottom: 1.4rem;
}

/* EXPERIENCE INFO GRID */
.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2.4rem;
  /* justify-items: center; */
  /*  align-items: center; */
  margin-bottom: 1.4rem;
}

/* .first,
.second {
  align-items: center;
} */

.info-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.075rem;
  text-align: center;
  text-decoration: underline;
}

.dob,
.phone,
.email,
.linkedin {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.phone {
  text-align: left;
}

.info-name {
  font-size: 1.6rem;
  color: #444;
  font-weight: 500;
}

.info-value {
  font-size: 1.6rem;
  color: #555;
  font-weight: 300;
}

.col-grid {
  display: flex;
  /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
  row-gap: 0.5rem;
  flex-direction: column;
  justify-items: left;
  margin-bottom: 1.4rem;
}

.list-items {
  padding-left: 1.4rem;
}

.skill-name {
  font-size: 1.8rem;
  color: #444;
  font-weight: 500;
}

.skill-name i {
  font-weight: 400;
  font-style: italic;
}

.skill-value {
  font-size: 1.6rem;
  color: #555;
  font-weight: normal;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  color: #555;
}

.contact-link:hover,
.contact-link:active {
  color: #555;
}

/*****************************************/
/* FOOTER SECTION */
/*****************************************/

.footer {
  background-color: #484848;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
}
